/* ============================================= */
/*              Variables                        */
/* ============================================= */

$base-color: #FEF8FF;
$footer-color:#EEE9EF; 
$header-color:#AFADAF;