/* ============================================= */
/*              Variables                        */
/* ============================================= */


// Colours
$base-color: #FEF8FF;
$footer-color:#EEE9EF; 


// fonts

$base-font:'Roboto', sans-serif;