/* ============================================= */
/*              Overlay                          */
/* ============================================= */


.modal{
  width: 40%;
  margin: 15% auto auto;
  background-color: whitesmoke;
  text-align: center;
  position: relative;
  img{
    border-radius: 50%;
    height: 90px;
  }

}

.cover{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0,0,0,.6);
}