/* ============================================= */
/*              Base styles                      */
/* ============================================= */


* {
  box-sizing: border-box;
  font-family: $base-font;
}

.grid-wrap{
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 80px minmax(250px, auto) 100px;
  grid-gap: 5px;
  height: 100vh;
  grid-template-areas: 
    "head"
    "main"
    "foot";
}

header {
  grid-area: head;
  background-color: $base-color;

}

main{
  grid-area: main;
  background-color: $base-color;
  overflow: scroll;
}

footer{
  grid-area: foot;
  background-color: $footer-color;
}

body {
  position: relative;
}